<a routerLink="/home"><img src="../../assets/logo.svg" alt="" width="120px" class="m-7 pb-10 md:m-10"></a>

<div class="md:mx-20 mx-5 ">
    <h1 class="text-4xl font-bold my-8">Privacy Policy</h1>
    <p>Date of update: October 16th 2023</p>
    <p class="mt-5">This Privacy Policy describes how [Your Company Name] ("we," "our," or "us") collects, uses, and shares information when you use our [website, mobile application, or service] (collectively, the "Service"). By using the Service, you consent to the practices described in this Privacy Policy.</p>

    <div class="my-14">
        <h1 class="text-2xl font-bold">Information We Collect</h1>
        <p class="my-5">We may collect and process the following types of information:</p>
        
        <ol class="list-decimal">
            <li class="ml-5 mt-10">
                <h1 class="font-bold text-xl">Information You Provide</h1>
                <ul class="list-disc ml-10 mt-5">
                    <li>When you use our Service, you may provide personal information, such as your name, email address, postal address, phone number, and other contact information.</li>
                    <li>You may also provide information when you communicate with us or participate in surveys or promotions.</li>
                </ul>
            </li>
        
            <li class="ml-5 mt-10">
                <h1 class="font-bold text-xl">Automatically Collected Information</h1>
                <ul class="list-disc ml-10 mt-5">
                    <li>When you use the Service, we may automatically collect information about your device, including your IP address, browser type, referring/exit pages, operating system, and other technical information.</li>
                    <li>We may also collect information about your usage of the Service, such as the pages you visit, the time and date of your visit, and the time spent on those pages.</li>
                </ul>
            </li>
        </ol>
        
        <h1 class="font-bold text-xl mt-10">How We Use Your Information</h1>
        <ul class="list-disc ml-10 mt-5">
            <li>We may use your information for various purposes, including:</li>
            <li>To provide, maintain, and improve the Service.</li>
            <li>To process and complete transactions, including orders and payments.</li>
            <li>To send you information about our products, services, and promotions.</li>
            <li>To respond to your requests, comments, or questions.</li>
            <li>To monitor and analyze usage patterns and trends.</li>
        </ul>
        
        <h1 class="font-bold text-xl mt-10">Sharing Your Information</h1>
        <ul class="list-disc ml-10 mt-5">
            <li>We may share your information with:</li>
            <li>Service providers who assist us in delivering the Service.</li>
            <li>Business partners and affiliates in connection with the Service.</li>
            <li>Legal authorities, as required by law or to protect our rights.</li>
        </ul>
        
        <h1 class="font-bold text-xl mt-10">Your Choices</h1>
        <ul class="list-disc ml-10 mt-5">
            <li>You can control how your information is collected, used, and shared:</li>
            <li>You may update your account information or preferences at any time.</li>
            <li>You can opt out of receiving promotional emails from us by following the instructions in those emails.</li>
        </ul>
        
        <h1 class="font-bold text-xl mt-10">Security</h1>
        <ul class="list-disc ml-10 mt-5">
            <li>We take reasonable measures to protect your information, but no data transmission or storage can be guaranteed to be completely secure.</li>
        </ul>
        
        <h1 class="font-bold text-xl mt-10">Changes to this Privacy Policy</h1>
        <ul class="list-disc ml-10 mt-5">
            <li>We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons.</li>
        </ul>
        
        <h1 class="font-bold text-xl mt-10">Contact Us</h1>
        <ul class="list-disc ml-10 mt-5">
            <li>If you have any questions, concerns, or requests regarding this Privacy Policy or your personal information, please contact us at [Your Contact Information].</li>
        </ul>
        
    </div>
</div>

<app-footer></app-footer>