<div class="max-w-[1879px] mr-auto ml-auto">
    <div class="snap-start snap-always flex md:flex-row flex-col bg-[#F4F1F2]">
        <div class="flex flex-col md:w-[50%] md:h-96 h-[30rem] mb-20 md:mb-0">
            <div class="h-[25%] w-full">
                <a routerLink="/home"><img src="../../assets/logo.svg" alt="" width="120px" class="m-2 md:m-10"></a>
            </div>
    
            <div class="flex flex-col text-center md:text-start md:h-[75%] w-full md:p-16 p-5 h-full">
                <h1 class="fade-in font-bold text-4xl md:text-5xl md:mr-32 leading-tight">Reach your goals faster with fiber</h1>
                <h1 class="fade-in ae-duration-250 text-lg md:mr-32 leading-loose md:leading-tight mt-5">Take the first step towards a healthier, happier you by acquiring your customized program. Millions of users have reached their goals using Fiber.</h1>
    
                <div class="flex flex-row mt-20 gap-6 fade-in">
                    <a href="#"><img src="../../assets/app-store 1.svg" alt=""></a>
                    <a href="#"><img src="../../assets/google-play 1.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="flex justify-center mb-52 mt-40 overflow-x-clip  md:w-[50%]">
            <!-- Phone -->
            <div class="">
                <div id="p_b" class="relative scale-75 md:scale-100">
                    <img src="../../assets/Layered/layer (8).png" alt="" class="absolute -left-16 -top-4">
                    <img src="../../assets/Layered/layer (9).png" alt="" class="absolute left-48 -top-16">
                    <img src="../../assets/Layered/layer (2).png" alt="" class="absolute -left-14 top-28">
                    <img src="../../assets/Layered/layer (4).png" alt="" class="absolute left-80 top-28">
                    <img src="../../assets/Layered/layer (10).png" alt="" class="absolute -left-28 top-96">
                    <img src="../../assets/Layered/layer (3).png" alt="" class="absolute left-[21rem] top-[29rem]">
                    <img src="../../assets/Layered/layer (4).png" alt="" class="absolute -left-24 top-[43rem]">
                    <img src="../../assets/Layered/layer (1).png" alt="" class="absolute left-7 top-[42.5rem]">
                    <img src="../../assets/Layered/layer (7).png" alt="" class="absolute left-40 top-[38rem]">
                </div>
                <div class="scale-75 md:scale-100">
                    <img src="../../assets/Silver.png" alt="" class="relative z-50">
                    <img src="../../assets/phonebg.png" alt="" class="z-40 absolute top-[14px] left-4 d-shadow">
                </div>
            </div>
        </div>
    </div>
    
    <div class="snap-start snap-always h-full flex flex-col">
        <div class="flex flex-col md:flex-row mx-auto gap-20 md:gap-60 my-20" appFadeIn>
            <img src="../../assets/Quality/Group 72797.png" alt="">
            <img src="../../assets/Quality/Group 72798.png" alt="">
            <img src="../../assets/Quality/Group 72799.png" alt="">
        </div>
    
        <div class="flex flex-col md:flex-row mx-4 md:mx-20 gap-20 md:gap-60 mb-20">
            <div class="relative md:w-[50%]" appFadeIn>
                <img src="../../assets/misc/lady0001.png" alt="" class="md:w-[75%]">
                <div class="flex flex-col absolute top-52 md:-top-7 -right-2 gap-3">
                    <div class=" w-48 h-16 bg-white rounded-2xl flex d-shadow-st">
                        <p class="font-medium my-auto ml-5 ae-duration-250">🔥 Lose weight</p>
                    </div>
    
                    <div class=" w-48 h-16 bg-white rounded-2xl flex d-shadow-st">
                        <p class="font-medium my-auto ml-5">⚖️ Maintain weight</p>
                    </div>
    
                    <div class=" w-48 h-16 bg-white rounded-2xl flex d-shadow-st">
                        <p class="font-medium my-auto ml-5">📈 Gain weight</p>
                    </div>
                </div>
            </div>
    
            <div class="px-1 mt-10 md:w-[70%]" appFadeIn>
                <h1 class="text-center md:text-start font-bold text-4xl md:text-5xl md:mr-32 leading-tight">Reach your goals faster with fiber</h1>
                <h1 class="text-center md:text-start ae-duration-250 text-lg md:mr-32 leading-loose md:leading-tight mt-5">Take the first step towards a healthier, happier you by acquiring your customized program. Millions of users have reached their goals using Fiber.</h1>
            </div>
        </div>
    
        <div class="flex flex-col md:flex-row mx-4 md:mx-20 gap-20 md:gap-60 mb-20">
            <div class="hidden md:block px-10 mt-10 md:w-[70%]" appFadeIn>
                <h1 class="font-bold text-4xl md:text-5xl leading-tight">Obtain personalized macro guidelines</h1>
                <h1 class="ae-duration-250 text-lg md:mr-32 leading-loose md:leading-tight mt-5">Get custom macro recommendations tailored to your individual nurtitional goals, covering calories, protein, and fats.</h1>
            </div>
    
            <div class="relative md:w-[50%]" appFadeIn>
                <img src="../../assets/misc/lady0002.png" alt="" class="relative z-40 md:w-[75%]">
                <img src="../../assets/misc/Rectangle 3256.png" alt="" class="absolute z-30 top-14 left-12 md:top-6 md:left-6 md:w-[75%]">
    
                <div class="flex flex-col absolute -top-20 -left-2 md:-left-24 gap-3 z-50">
                    <img src="../../assets/misc/graph.png" alt="">
                </div>
            </div>
    
            <div class="md:hidden block px-1 mt-10 md:w-[70%]" appFadeIn>
                <h1 class="text-center font-bold text-4xl md:text-5xl md:mr-32 leading-tight">Obtain personalized macro guidelines</h1>
                <h1 class="text-center text-lg md:mr-32 leading-loose md:leading-tight mt-5">Get custom macro recommendations tailored to your individual nurtitional goals, covering calories, protein, and fats.</h1>
            </div>
        </div>
    </div>
    
    <div class="snap-start snap-always h-full flex flex-col items-center bg-[#F4F1F2]">
        <div class="mx-3 mt-12" appFadeIn>
            <h1 class="text-center font-bold text-4xl md:text-5xl md:px-96 leading-tight">Join 2.1 million happy users around the world</h1>
            <h1 class="text-center leading-loose md:leading-tight mt-5">14k <span class="bg-[#FAA562] pl-2 pr-1 py-1 rounded-xl text-white font-bold">5 ⭐</span> reviews on App store and Google play</h1>
        </div>
    
        <div class="flex flex-row my-10 gap-3">
            <a href="#"><img src="../../assets/app-store 1.svg" alt=""></a>
            <a href="#"><img src="../../assets/google-play 1.svg" alt=""></a>
        </div>
    
        <div class="flex flex-row flex-shrink flex-wrap gap-5 justify-center md:px-40 px-5" appFadeIn>
            <div *ngFor="let review of reviews" class="flex flex-col justify-self-auto md:w-96 p-5 rounded-3xl justify-center bg-white d-shadow-card" style="align-self: flex-start;">
                <div class="flex flex-row justify-between">
                    <h1>⭐⭐⭐⭐⭐</h1>
                    <img src="../../assets/{{review.deviceType}} 2.svg" alt="">
                </div>
                <h1 class="py-4">{{review.review}}</h1>
                <h1 *ngIf="review.deviceType == 'app-store'; else android">iOS user</h1>
                <ng-template #android>
                    <h1>Android user</h1>
                </ng-template>
            </div>
        </div>
    </div>
    
    <div class="ftr snap-start snap-always text-center py-32 px-17 -mt-32 z-50 relative flex flex-col items-center"
        style="box-shadow: 0 -5rem 4rem white;">
        <img src="../../assets/Colorful.png" alt="">
    
        <h1 appFadeIn class="text-white mt-10 font-bold text-4xl md:px-96 md:mx-32 md:text-5xl">Take care of your health with fiber</h1>
        <h3 appFadeIn class="text-white text-lg mt-10">Make your health a top priority by incorporating Fiber into your daily routine.</h3>
        <h3 appFadeIn class="text-white text-lg mt-1">With Fiber, you have a trusted partner in your journey towards a healthier and happier life.</h3>
    
        <div class="flex flex-row mt-20 md:gap-6 gap-1">
            <a href="#"><img src="../../assets/app-store 1.svg" alt=""></a>
            <a href="#"><img src="../../assets/google-play 1.svg" alt=""></a>
        </div>
    </div>
    
    <app-footer></app-footer>
</div>